/0-IntroducaoAoJava/PrimeiroProjeto/nbproject/private/
/0-IntroducaoAoJava/PrimeiroProjeto/build/
.DS_Store
/0-IntroducaoAoJava/Resolucao_Exercicios/nbproject/private/
/0-IntroducaoAoJava/Resolucao_Exercicios/build/
/CalculadoraIMC/nbproject/private/
